<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:src="@{'style.css'}" src=""></link>
</head>
<body>

<!--https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#using-theach-->
<p th:text="${name}">Hello James</p>
<table>
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">James Michael</td>
        <td th:text="${user.email}">james@gmail.con</td>
    </tr>
</table>
</body>
</html>